<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Page Info -->
    <title>Banglet</title>
    <meta name="author" content="Karen Hernandez" />
    <meta name="description" content="Individual Website ECE 140B" />

    <link rel="stylesheet" type="text/css" href="css/agile.css" />
  </head>

  <body>
    <section class="front-layer">
      <div class="navbar">
        <a href="./">Home</a>
        <a href="./features">Features</a>
        <a href="./interaction">Interaction</a>
        <div class="dropdown">
          <button class="dropbtn">
            Financials
            <i class="fa fa-caret-down"></i>
          </button>
          <div class="dropdown-content">
            <a href="./costs">Costs</a>
            <a href="./revenue">Revenue Model</a>
          </div>
        </div>
        <div class="dropdown">
          <button class="dropbtn">
            Product Info
            <i class="fa fa-caret-down"></i>
          </button>
          <div class="dropdown-content">
            <a href="./kvp">KVP</a>
            <a href="./product">Product</a>
          </div>
        </div>

        <div class="filler"></div>
        <a href="./notes">Notes</a>
      </div>

      <section class="padding-responsive">
        <h5>Cost BreakDown</h5>
        <p>
          Total cost comes down to $46000 initially with $9400 yearly cost of
          maintenance and servers. This includes Maintenance, servers, assembly,
          and hardware. This is calculated based on 75 suites for VIPs and
          20tags + 8 gateways per suite. These costs don't include anything
          beside product related spending such as office and warehouse.
        </p>
        <h5>Cost per module</h5>
        <p>Cost per module is only $20</p>
        <h5>Hardware</h5>
        <p>Total cost of hardware is $42000</p>
        <h5>Assembly</h5>
        <p>$4200</p>
        <h5>Servers</h5>
        <p>$4800/year</p>
        <h5>Maintenance</h5>
        <p>$4200/year</p>
      </section>
    </section>
  </body>
</html>
