<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Page Info -->
    <title>Banglet</title>
    <meta name="author" content="Karen Hernandez" />
    <meta name="description" content="Individual Website ECE 140B" />

    <link rel="stylesheet" type="text/css" href="css/agile.css" />
  </head>

  <body>
    <section class="front-layer">
      <div class="navbar">
        <a href="./">Home</a>

        <a href="./features">Features</a>
        <a href="./interaction">Interaction</a>
        <div class="dropdown">
          <button class="dropbtn">
            Product Info
            <i class="fa fa-caret-down"></i>
          </button>
          <div class="dropdown-content">
            <a href="./kvp">KVP</a>
            <a href="./product">Product</a>
          </div>
        </div>
        <div class="filler"></div>
        <a href="./notes">Notes</a>
      </div>

      <section class="padding-responsive">
        <h3>Features V.S Benefits</h3>
        <section class="container">
          <h5>Features:</h5>
          <h5>Benefits:</h5>
          <p>1. Dashboard for the users to view a general informative model.</p>
          <p>
            Users can view all the information such as VIP member credentials,
            ID number, payment info for quicker and easier interaction as well
            as managing information such as saving, updating, and deleting which
            could save a lot of time and resources later on.
          </p>
          <p>2. RFID scanning for quick identificaiton</p>
          <p>Fast and easy identification to reach VIP restricted areas</p>
          <p>3. Location Tracker</p>
          <p>
            So that security or mediacl professionals could be dispatched to
            reach the VIP memeber or simply help VIP member find their way.
            Additionally it can be used manage the staff based on the location
            that is most crowded.
          </p>
          <p>4. Smart log in feature</p>
          <p>
            Users can use their other accounts such as Apple and Google to
            sign-up/log-in to the website, which helps with reducing number of
            credentials and information for each website.
          </p>
          <p>5. Stylish Bracelet</p>
          <p>
            All of this is done using a simple stylish bracelet which can be
            reused for future events all needed to be done is to update the
            information at an event.
          </p>
        </section>
      </section>
    </section>
  </body>
</html>
