<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Page Info -->
    <title>Banglet</title>
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico" />
    <meta name="author" content="Karen Hernandez" />
    <meta name="description" content="Individual Website ECE 140B" />

    <link rel="stylesheet" type="text/css" href="css/agile.css" />
  </head>

  <body>
    <section class="front-layer">
      <div class="hero">
        <h1>Banglet</h1>
        <h3>Exceptional VIP Experience</h3>
      </div>
      <div class="navbar">
        <a href="./">Home</a>
        <a href="./features">Features</a>
        <a href="./interaction">Interaction</a>
        <div class="dropdown">
          <button class="dropbtn">
            Financials
            <i class="fa fa-caret-down"></i>
          </button>
          <div class="dropdown-content">
            <a href="./costs">Costs</a>
            <a href="./revenue">Revenue Model</a>
          </div>
        </div>
        <a href="./pivot">Pivot</a>
        <div class="dropdown">
          <button class="dropbtn">
            Product Info
            <i class="fa fa-caret-down"></i>
          </button>
          <div class="dropdown-content">
            <a href="./kvp">KVP</a>
            <a href="./product">Product</a>
          </div>
        </div>
        <div class="filler"></div>
        <a href="./notes">Notes</a>
      </div>

      <section class="padding-responsive">
        <div class="separator">The Art of Product Engineering</div>
        <section class="intro-center">
          <div class="filler"></div>
          <p class="intro">
            <em
              >This website designed by myself, Karen Hernandez, a finishing
              undergraduate student at UCSD majoring in Electrical Engineering
              with emphasis in machine learning and data science.</em
            >
          </p>
          <div class="filler"></div>
        </section>

        <!-- <h2> More information ... </h2>
      <p style="font-size:medium;"> <a href="product.html" style="color:#7fa8ff; font-size: medium;">  Product </a> </p>

      <p style="font-size:medium;"> <a href="kvp.html" style="color:#7fa8ff; font-size: medium;">  KVP </a> </p>
	 -->

        <br /><br />
        <hr />
        <h3>Motivation</h3>
        <p>
          The goal of this space is to demonstrate my experience writting
          full-stack explore some projects that I have contributed to.
        </p>
        <br />
        <p>
          The Art of product engineering is a two-term course offered at UCSD,
          naimly as ECE 140A and ECE 140B. The goal is to build on a solid
          foundation of electrical and computer engineer skills, this course
          strives to broaden student skills in software, full-stack engineering,
          and concrete understanding of methods related to the realistic
          development of a commercial product. Students will research, design,
          and develop an IOT device to serve an emerging market.
        </p>
        <br />
        <hr />
        <h3>Website Architecture</h3>
        <br />
        <p>
          The architectural design of my choice when creating the website (such
          as server, database, css-style, etc.) is as follows.
        </p>
        <h4>Server</h4>
        <ul>
          <li>
            Digital Ocean as a cloud-service for our website server development
          </li>
          <li>
            Created a Docker image to launch the server container, in order to
            be able to launch the website with all the necesary requirements on
            any operating system.
          </li>
          <li></li>
        </ul>
        <h4>Data</h4>
        <ul>
          <li>
            Using MySQL to create, update and store data containing information
            about to the Banglet Project.
          </li>
        </ul>

        <h4>Styling</h4>
        <ul>
          <li>The styling desing for the html files was done using css.</li>
        </ul>

        <br />
        <hr />
        <h3>Product Introduction</h3>
        <p>
          Our product and services offer tools for event managers to monitor and
          track VIP customers and their transactions in the venue. For the VIP’s
          we offer a bracelet for VIP users that eases the transaction process
          between them and the vendors, as well as identification process.
        </p>

        <!-- <h2> More information ... </h2>
      <p style="font-size:medium;"> <a href="product.html" style="color:#7fa8ff; font-size: medium;">  Product </a> </p>

      <p style="font-size:medium;"> <a href="kvp.html" style="color:#7fa8ff; font-size: medium;">  KVP </a> </p>
	 -->
        <h2>Collaborators</h2>

        <div class="separator">Instructors</div>

        <table class="margin-top-xl">
          <thead>
            <tr>
              <th class="small">First Name</th>
              <th class="medium">Last Name</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Richard</td>
              <td>Gessner</td>
            </tr>
            <tr>
              <td>Ramsin</td>
              <td>Khoshabeh</td>
            </tr>
          </tbody>
        </table>

        <div class="separator">Teacher Assistants</div>

        <table class="margin-top-xl">
          <thead>
            <tr>
              <th class="small">First Name</th>
              <th class="medium">Last Name</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Shubham</td>
              <td>Kumar</td>
            </tr>
            <tr>
              <td>Siddhant</td>
              <td>Saoji</td>
            </tr>
            <tr>
              <td>Sriram</td>
              <td>Shreedharan</td>
            </tr>
          </tbody>
        </table>

        <div class="separator">Group Project Members</div>

        <table class="margin-top-xl">
          <thead>
            <tr>
              <th class="small">First Name</th>
              <th class="medium">Last Name</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Rusul</td>
              <td>Al-Busultan</td>
            </tr>
            <tr>
              <td>Karen</td>
              <td>Hernandez</td>
            </tr>
            <tr>
              <td>Marcin</td>
              <td>Kierebinski</td>
            </tr>
            <tr>
              <td>Nicholas</td>
              <td>Munoz</td>
            </tr>
            <tr>
              <td>Raymond</td>
              <td>Urbina</td>
            </tr>
          </tbody>
        </table>
        <!-- 
      <div class='separator'>Typography</div>

      <h1 class='bordered'>  </h1>
      <h2 class=''> H2 Element </h2>
      <h3 class=''> H3 Element </h3>
      <h4 class=''> H4 Element </h4>
      <h5 class=''> H5 Element </h5>
      <h6 class=''> H6 Element </h6>

      <hr>

      <p> I am a paragraph </p>

      <ul>
        <li> This is a list </li>
        <li> And so is this </li>
      </ul>

      <ol>
        <li> This is an ordered list-item </li>
        <li> Don't forget about me!</li>
      </ol>

      <div class='separator'>
        Responsive (2-column) Grid
      </div>

      <section class='responsive_grid'>
        <div class='card bordered margin-none'> I'm a card! </div>
        <div class='card bordered margin-none'> And so am I! </div>
      </section>

      <div class='separator'>Tables</div>

      <table class='margin-top-xl'>
        <thead>
          <tr>
            <th class='small'> column </th>
            <th class='medium'> column </th>
            <th class='large'> column </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td> column </td>
            <td> column </td>
            <td> column </td>
          </tr>
          <tr>
            <td> column </td>
            <td> column </td>
            <td> column </td>
          </tr>
          <tr>
            <td> column </td>
            <td> column </td>
            <td> column </td>
          </tr>
        </tbody>
      </table>

      <div class='separator'>Forms</div>

      <div class='btn small '> Small Button </div>
      <div class='btn small outline'> Small Button </div>
      <div class='btn small pill'> Small Button </div>
      <div class='btn small' disabled> Small Button </div> <BR><BR>

      <div class='btn medium'> Medium Button </div>
      <div class='btn medium outline'> Medium Button </div>
      <div class='btn medium pill'> Medium Button </div>
      <div class='btn medium' disabled> Medium Button </div> <BR><BR>

      <form>

        <section class='responsive_grid'>

          <div class='field'>
            <label> Enter your first name: &nbsp;</label>
            <input type='text' name='name' value='' class='margin-top-lg'>
          </div>

          <div class='field select '>
            <label> Choose a color: &nbsp;</label>
            <div class="select margin-top-lg">
              <select>
                <option>First select</option>
                <option>Red</option>
                <option>Green</option>
                <option>Blue</option>
              </select>
              <div class="select__arrow"></div>
            </div>
          </div>
        </section>

        <section class='responsive_grid'>
          <div class="field">
            <label> Choose an Item </label>
            <label class="margin-top-lg control control--checkbox">First checkbox
              <input type="checkbox" checked="checked" />
              <div class="control__indicator"></div>
            </label>
            <label class="control control--checkbox">Second checkbox
              <input type="checkbox" />
              <div class="control__indicator"></div>
            </label>
          </div>

          <div class="field">
            <label> Choose an Item </label>
            <label class="margin-top-lg control control--radio">First radio
              <input type="radio" name="radio" checked="checked" />
              <div class="control__indicator"></div>
            </label>
            <label class="control control--radio">Second radio
              <input type="radio" name="radio" />
              <div class="control__indicator"></div>
            </label> -->
        <!-- </div>
        </section>

      </form> -->
      </section>
    </section>
  </body>
</html>
