<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Page Info -->
    <title>Banglet</title>
    <meta name="author" content="Karen Hernandez" />
    <meta name="description" content="Individual Website ECE 140B" />

    <link rel="stylesheet" type="text/css" href="css/agile.css" />
  </head>

  <body>
    <section class="front-layer">
      <div class="navbar">
        <a href="./">Home</a>

        <a href="./features">Features</a>
        <a href="./interaction">Features</a>
        <div class="dropdown">
          <button class="dropbtn">
            Product Info
            <i class="fa fa-caret-down"></i>
          </button>
          <div class="dropdown-content">
            <a href="./kvp">KVP</a>
            <a href="./product">Product</a>
          </div>
        </div>
        <div class="filler"></div>
        <a href="./notes">Notes</a>
      </div>

      <section class="padding-responsive">
        <h3>Key Product Interactions</h3>
        <h5>Dashboard</h5>
        <p>
          Vendors can view VIP information, from here they can view key
          information of each VIP member.
        </p>
        <h5>Profile</h5>
        <p>
          Detailed information about staff or VIP memebers which can be edited
          by the owner.
        </p>
        <h5>Event</h5>
        <p>
          Details about the events displayed for the Vendor and VIP attendees
        </p>
        <h5>Location Tracking</h5>
        <p>
          To help vendor manage staff more effectively or help VIP members if
          they require aid.
        </p>
        <h5>RFID Sensors</h5>
        <p>
          With the help of these sensors interactions between staff and VIPs are
          much quicker.
        </p>
      </section>
    </section>
  </body>
</html>
