<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Page Info -->
    <title>Banglet</title>
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico" />
    <meta name="author" content="Karen Hernandez" />
    <meta name="description" content="Individual Website ECE 140B" />

    <link rel="stylesheet" type="text/css" href="css/agile.css" />
  </head>

  <body>
    <section class="front-layer">
      <div class="navbar">
        <a href="./">Home</a>
        <a href="./features">Features</a>
        <a href="./interaction">Interaction</a>
        <div class="dropdown">
          <button class="dropbtn">
            Financials
            <i class="fa fa-caret-down"></i>
          </button>
          <div class="dropdown-content">
            <a href="./costs">Costs</a>
            <a href="./revenue">Revenue Model</a>
          </div>
        </div>
        <a href="./pivot">Pivot</a>
        <div class="dropdown">
          <button class="dropbtn">
            Product Info
            <i class="fa fa-caret-down"></i>
          </button>
          <div class="dropdown-content">
            <a href="./kvp">KVP</a>
            <a href="./product">Product</a>
          </div>
        </div>
        <div class="filler"></div>
        <a href="./notes">Notes</a>
      </div>
      <h2>Key Value Proposition</h2>
      <section class="padding-responsive">
        <h3>Value Proposition</h3>
        <section class="container">
          <p>Gain Creators</p>
          <p>
            Allows for immediate identification of patrons at venues.<br />
            By tracking patrons it removes guesswork of what patrons are doing
            during the event and intermission periods.
          </p>
          <p>Product & Services</p>
          <p>
            Our service will aggregate data on patrons at venues.<br />Eases
            transactions between event vendors and patrons.<br />Our product
            will allow for venues to track patrons within the VIP.
          </p>
          <p>Pain Relievers</p>
          <p>
            Vensues can be more attentive to patrons during events.<br />Venues
            can design floor plans and layouts by using patron collected
            information.
          </p>
        </section>
        <hr />
        <h3>Customer Profile</h3>
        <section class="container">
          <p>Gains</p>
          <p>
            Create memorable events so patrons will want to return to venue for
            other events.<br />Better understand patron behavior at venues.
          </p>
          <p>Customer Jobs</p>
          <p>
            Identify patron needs/wants at different events.<br />Maximize
            profits for each venue event.
          </p>
          <p>Pains</p>
          <p>
            Optimize services towards guests. <br />Venues be more attentive
            towards patrons.
          </p>
        </section>
      </section>
    </section>
  </body>
</html>
