<!doctype html>
<html lang="en">

  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Page Info -->
    <title>Product description</title>
    <meta name="author" content="Karen Hernandez">
    <meta name="description" content="Individual Website ECE 140B">

    <link rel="stylesheet" type="text/css" href="css/agile.css">
  </head>

  <body>

    <div class='hero'>
      <h1> Banglet </h1>
      <h2> -  Key Value Proposition </h2>
      <p> Our specific, distinct and exclusive promise that Banglet makes to the identifiable costumers. </p>
      <p> This can be relating to a category, company or the product itself. </p>
    </div>

    <section class='padding-responsive'>
      <p> <a href="home.html" style="color:#7fa8ff; font-size: medium;">  Return to Main Page</a> </p>

      <div class='separator'> Costumer Profile </div>

      <h3> Promise to our costumers </h3>
      <ul>
        <li> Optimize services towards guests. </li>
        <li> Venue be more attentive towards patrons. </li>
      </ul>

      <h3> Benefits </h3>
      <ul>
        <li> Better understand patron behavior at venues. .  </li>
        <li> Create memorable events so patrons will want to return to venue for other events. </li>
      </ul>

      <h3> Banglet vs. Competitors </h3>
      <p> Our product is unique from our competition by:</p>
      <ul>
        <li> Identify patron needs/wants at different events, to be personalized by guests information. </li>
        <li> Maximize profits for each venue event. </li>
      </ul>

      <div class='separator'> Value Proposition </div>
      <p></p>
      <h3> Gain Creator </h3>
      <ul>
        <li> By tracking patrons it removes the guesswork of what patrons are doing during the event and intermission periods. </li>
        <li> Allows for immediate identification of patrons at venues. </li>
      </ul>

      <h3> Pain Relievers </h3>
      <ul>
        <li> Venues can design floor plans and layouts by using patron collected information. </li>
        <li> Venues can be more attentive to patrons during events. </li>
      </ul>

      <h3> Products & Services </h3>
      <ul>
        <li> Our service will aggregate data on patrons at venues. </li>
        <li> Eases transactions between event vendors and patrons. </li>
        <li> Our product will allow for venues to track patrons within the VIP. </li>
      </ul>


    </section>

  </body>
</html>