<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Page Info -->
    <title>Banglet</title>
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico" />
    <meta name="author" content="Karen Hernandez" />
    <meta name="description" content="Individual Website ECE 140B" />

    <link rel="stylesheet" type="text/css" href="css/agile.css" />
  </head>

  <body>
    <section class="front-layer">
      <div class="navbar">
        <a href="./">Home</a>

        <div class="dropdown">
          <button class="dropbtn">
            About
            <i class="fa fa-caret-down"></i>
          </button>
          <div class="dropdown-content">
            <a href="./kvp">KVP</a>
            <a href="./product">Product</a>
          </div>
        </div>
        <div class="filler"></div>
        <a href="./notes">Notes</a>
      </div>

      <section class="padding-responsive">
        <h3>Design and Architecture</h3>
        <p>
          For this website I use a simple web page with no dynamic interaction
          as it won't be required at this time so html and server.py will
          suffice, however if need be I will add a Javescript and even database
          connection. So far this website is similar to Lab 2-3 of 140A.
        </p>
        <br />
        <p>
          I use html and css for front-end design and styling. and I use python
          with pyramid for back-end. the addition of JS will be the pipieline
          from front end to back end for dynamic interactiona nd incase there
          was a need for existance of databse I will use MYSQL.
        </p>
        <br />
        <p>
          Currently I'm displaying the title in a hero element as shown in the
          video. I added a nav bar for easier navigation, specially after
          addition of other pages. I created a gradient back ground and my page
          content lays on a display box on top. I also used flex to place my
          intro in center format, with the addition of filler elements.
        </p>
        <br />
        <hr />
        <h3>User Experience Additions</h3>
        <ul>
          <li>
            Visibility: There are large buttons available to proceed to other
            pages on top of each page.
          </li>
          <li>
            Viscosity: There are no obvious barriers that would prevent users
            from interacting with the website and achieve their goals.
          </li>
          <li>
            No Premature Commitment: Users can take whatever steps toward a
            final choice of what they want to achieve. In this case they can
            navigate to each page from any page with the use of navigation bar
            at top of the page.
          </li>
        </ul>

        <hr />

        <h3>Laws of UI design</h3>
        <div class="imageInfo">
          <div>
            <img class="imageOnLeft" src="/images/GithubHomeScreen.png" width="250" height="250"/>
            <p class="UIlaw">
              <h5>
                Jacob's Law:
              </h5>
              <div class = "linwid">
                Most websites follow the same pattern in which there is a large search bar at top center of the page, or small search bar in top right in wiki type websites. another example is user picture and id is at top right as well.
              </div>
            </p>
      </div>

      <div >
        <img class="imageOnLeft" src="/images/ZoomHomeScreen.png" width="250" height="250" />
        <p class="UIlaw">
          <h5>
            Law of Pragnaz:
          </h5>
          <div class = "linwid">
            Creating a simple and easy to follow indicators are an example of this Law. The purchase button on a website is a large uniquely colored button. The subscribe button on youtube is also fairly different and obvious. 
          </div>
        </p>
      </div>
  
      
      
          <div >
            <img class="imageOnLeft" src="/images/TritonLinkHomeScreen.png" width="250" height="250" />
            <p class="UIlaw">
              <h5>
                Law of Proximity:
              </h5>
              <div class = "linwid">
                Grouping objects that relate. Websites and Applications with a large number of choices and paths group the similar paths together for simplicity. A remote controller or generally any navigation window in a well design website does the same. 
      
              </div>
            </p>
          </div>
        </div>
      </section>
    </section>
  </body>
</html>
