<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Page Info -->
    <title>Banglet</title>
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico" />
    <meta name="author" content="Karen Hernandez" />
    <meta name="description" content="Individual Website ECE 140B" />

    <link rel="stylesheet" type="text/css" href="css/agile.css" />
  </head>

  <body>
    <section class="front-layer">
      <div class="navbar">
        <a href="./">Home</a>
        <a href="./features">Features</a>
        <a href="./interaction">Interaction</a>
        <div class="dropdown">
          <button class="dropbtn">
            Product Info
            <i class="fa fa-caret-down"></i>
          </button>
          <div class="dropdown-content">
            <a href="./kvp">KVP</a>
            <a href="./product">Product</a>
          </div>
        </div>
        <div class="filler"></div>
        <a href="./notes">Notes</a>
      </div>

      <section class="padding-responsive">
        <h3>Design and Architecture</h3>
        <p>
          For this website I use a simple web page with no dynamic interaction
          as it won't be required at this time so html and server.py will
          suffice, however if need be I will add a Javescript and even database
          connection. So far this website is similar to Lab 2-3 of 140A.
        </p>
        <br />
        <p>
          I use html and css for front-end design and styling. and I use python
          with pyramid for back-end. the addition of JS will be the pipieline
          from front end to back end for dynamic interactiona nd incase there
          was a need for existance of databse I will use MYSQL.
        </p>
        <br />
        <p>
          Currently I'm displaying the title in a hero element as shown in the
          video. I added a nav bar for easier navigation, specially after
          addition of other pages. I created a gradient back ground and my page
          content lays on a display box on top. I also used flex to place my
          intro in center format, with the addition of filler elements.
        </p>
        <br />
        <hr />
        <h3>User Experience Additions</h3>
        <ul>
          <li>
            Visibility: There are large buttons available to proceed to other
            pages on top of each page.
          </li>
          <li>
            Viscosity: There are no obvious barriers that would prevent users
            from interacting with the website and achieve their goals.
          </li>
          <li>
            No Premature Commitment: Users can take whatever steps toward a
            final choice of what they want to achieve. In this case they can
            navigate to each page from any page with the use of navigation bar
            at top of the page.
          </li>
        </ul>

        <hr />

        <h3>Laws of UI design</h3>
        <div class="imageInfo">
          <div>
            <img class="imageOnLeft" src="/images/jacobsLaw.png" width="250" height="250"/>
            <p class="UIlaw">
              <h5>
                Jacob's Law:
              </h5>
              <div class = "linwid">
                Most websites follow the same pattern in which there is a large search bar at top center of the page, or small search bar in top right in wiki type websites. another example is user picture and id is at top right as well.
              </div>
            </p>
      </div>
      <br>
      <div >
        <img class="imageOnLeft" src="/images/lawOfProximity.png" width="250" height="250" />
        <p class="UIlaw">
          <h5>
            Law of Proximity:
          </h5>
          <div class = "linwid">
            Grouping objects that relate. Websites and Applications with a large number of choices and paths group the similar paths together for simplicity. A remote controller or generally any navigation window in a well design website does the same. 
  
          </div>
        </p>
      </div>

      <br>

      <div >
        <img class="imageOnLeft" src="/images/lawOfPragnaz.png" width="250" height="250" />
        <p class="UIlaw">
          <h5>
            Law of Pragnaz:
          </h5>
          <div class = "linwid">
            Creating a simple and easy to follow indicators are an example of this Law. The purchase button on a website is a large uniquely colored button. The subscribe button on youtube is also fairly different and obvious. 
          </div>
        </p>
      </div>
      <hr>
  
      <h3>
        Information Architecture
      </h3>
      <p>
        <ol>
          <li>
        There are two types of users, Vendors and VIPs. for VIPs when they  interact with the website, all they need to is to sign up and then join an event. Initially they will view their own profile and information about them which they can choose to change and additionally they are able to navigate to a different tab to view the events they have attended, attending or going to attend. There are no interaction with the physical device as it is a bracelet with a sensor inside it. The venue organizers after loging in they are able to see the information about their event or events. First they can see the attendees information on the dashboard, and they can view the details about each attendee by clicking on their name, they can also view the attendee's location by clicking on view location.
            </li>
          <li>
            Principle of Disclosure: we want to show the user only what they need to view initially, they can however delve further into other pages to view other information.
            <br>
            Principle of Choices: The choices given to user are fairly limited as to not confuse the users. The information displayed to users are also made so there would be no cognitive overload.
            <br>
            Principle of Focused Navigation: The navigation bar and in general navigating through the website and dashboard are faily simple and intuitive to work with, there are no complicated routes and each path/paths that are relating are grouped up.
          </li>
          <li>Topical Structure: We try to group up the relating information together and as the user delves deeper into a certain section the detail increases. An example would be viewing user relating information and even location which are separate from other information.</li>
          </ol>
      </p>
    <h5>
      Website Design
    </h5>
    <p>
      <ul>
        <li>
          <h6>Typographic Hierarchy:</h6> More important and relevant information such as header are separated from content text and explanation.
        </li>
        <li>
          <h6>Spacing:</h6> I have placed proper spacing between differnet content for better visualization.
        </li>
        <li>
          <h6>Proximity:</h6> The relating information are closer together. For example, in navigation bar each relating group of pages as a separate drop down button.
        </li>
        <li>
          <h6>Size and Scale:</h6> The size of items are based on their importance. Headers are larger, then buttons then info text.
        </li>
    </ul>
    </p>
      
      
      
          
        </div>
      </section>
    </section>
  </body>
</html>
