<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Page Info -->
    <title>Banglet</title>
    <meta name="author" content="Karen Hernandez" />
    <meta name="description" content="Individual Website ECE 140B" />

    <link rel="stylesheet" type="text/css" href="css/agile.css" />
  </head>

  <body>
    <section class="front-layer">
      <div class="navbar">
        <a href="./">Home</a>

        <a href="./features">Features</a>
        <a href="./interaction">Interaction</a>
        <div class="dropdown">
          <button class="dropbtn">
            Financials
            <i class="fa fa-caret-down"></i>
          </button>
          <div class="dropdown-content">
            <a href="./costs">Costs</a>
            <a href="./revenue">Revenue Model</a>
          </div>
        </div>
        <a href="./pivot">Pivot</a>
        <div class="dropdown">
          <button class="dropbtn">
            Product Info
            <i class="fa fa-caret-down"></i>
          </button>
          <div class="dropdown-content">
            <a href="./kvp">KVP</a>
            <a href="./product">Product</a>
          </div>
        </div>
        <div class="filler"></div>
        <a href="./notes">Notes</a>
      </div>

      <section class="padding-responsive">
        <h3>Pivots</h3>
        <section class="container">
          <h5>Features:</h5>
          <h5>Benefits:</h5>
          <p>1. Zoom-Out Pivot:</p>

          <ol class="roman">
            <li>
              Originally we were interested in offering a product that was
              designed for offering real time tracking for users at events. Help
              users find others that may be lost or for safety reasons.
            </li>
            <li>
              After some time we realized that the bigger product out of using
              real time tracking would be for collecting this data and offering
              this data to a user that would help them from a management
              perspective. From this we scoped out the individual users at
              venues to the people responsible for organizing the venues.
            </li>
          </ol>

          <p>2. Customer Segment Pivot:</p>
          <ol class="roman">
            <li>
              Originally we were focused on attendees for venues to be our
              primary customers. This was because we figured that the people
              directly interacting with the hardware of the product should be
              the primary customer.
            </li>
            <li>
              Later we realized that there wasn’t enough of an incentive for the
              user to purchase the bracelet instantly upon the purchase of the
              product. This helped shift us to having the venue organizers as
              the customers instead. This is because by offering an interface
              for them to review the data and make decisions during and before
              events to improve the VIP experience will result in more profit
              for the venues.
            </li>
          </ol>
          <p>3. Customer Needs Pivot:</p>
          <ol class="roman">
            <li>
              Currently we are focused on displaying collected data mainly from
              VIP guest locations and interactions with services involving
              location of transactions and carrying out the transactions as
              well.
            </li>
            <li>
              In the future we might need to pivot to focusing on collecting and
              offering an interface for analyzing data in regards to the
              services themselves. This will be more defined based on us
              surveying more venue organizers and getting their judgments on our
              product for what best aligns with their needs.
            </li>
          </ol>
          <p>4. Platform Pivot</p>
          <ol class="roman">
            <li>
              Our original idea started with concerts and music festivals, as
              our primary platform to serve. The idea was people were going to
              use our product and services to stay connected with one another
              during concerts and festivals.
            </li>
            <li>
              The second platform we pivoted to was that we were going to use
              our product and services to monitor the elderly, people who need
              to be supervised by caregivers.
            </li>
            <li>
              Our last and final pivot is our current one, we are using our
              product and services to assist venues in providing a better VIP
              experience.
            </li>
            <li>
              Currently we are creating a dashboard system that can show data
              visualizations based on queried data from our database. This
              includes attendance logs, transactions, location tracking, and
              list of events and related parameters.
            </li>
            <li>
              In the future we could expand on our toolkit for data
              visualizations and apply machine learning to create predictive
              models based on the queried data to help guide the user to make
              better decisions for how to optimize their services for their VIP
              guests.
            </li>
          </ol>
          <p>5. Value Capture Pivot</p>
          <ol class="roman">
            <li>
              Originally we anticipated that we were going to sell the bracelets
              to customers directly and our revenue would come from the sale of
              the bracelets.
            </li>
            <li>
              Our current pivot is that the bracelets are just a tool but rather
              our revenue will be generated from the aggregation of data and
              displaying the data for customers. We will be charging an ongoing
              service fee related to sales generated from the VIP.
            </li>
            <li>
              Revenue model is set now but could change later when we need to
              pivot and start serving unique customers. For example, music
              artists or other types of traveling entertainment, we would need
              services that do not reflect being fixed at one particular
              location. Their needs would be one that helps them travel and plan
              accordingly for a different venue multiple times a year. The
              current revenue model doesn't reflect this. For these customers,
              we would implement a subscription service tailored to fit their
              needs.
            </li>
          </ol>
          <p>6. Channel Pivot:</p>
          <ol class="roman">
            <li>
              Changed from selling bracelets to users to the organizers
              themselves and this is due to the fact that the true product that
              we are selling is organized and collected data.
            </li>
            <li>
              Currently we are focused on high end sports venues. This is a very
              select population of customers. We would need to contact these
              customers by directly reaching out to them or have connections
              with people that can refer us to them.
            </li>
            <li>
              In the future we may be interested in offering our services to
              other types of venue organizers outside of sports like music
              artists and other types of venues generally. These customers are a
              lot broader and we need to get exposure to them through
              advertising on social media platforms and telecommunications since
              this is a broader scope of venue organizers to appeal to.
            </li>
          </ol>
        </section>
      </section>
    </section>
  </body>
</html>
