<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Page Info -->
    <title>Banglet</title>
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico" />
    <meta name="author" content="Karen Hernandez" />
    <meta name="description" content="Individual Website ECE 140B" />

    <link rel="stylesheet" type="text/css" href="css/agile.css" />
  </head>

  <body>
    <section class="front-layer">
      <div class="navbar">
        <a href="./">Home</a>

        <div class="dropdown">
          <button class="dropbtn">
            About
            <i class="fa fa-caret-down"></i>
          </button>
          <div class="dropdown-content">
            <a href="./kvp">KVP</a>
            <a href="./product">Product</a>
          </div>
        </div>
        <div class="filler"></div>
        <a href="./notes">Notes</a>
      </div>
      <h2>About Banglet</h2>

      <section class="padding-responsive">
        <section class="container">
          <p>What is Banglet and what does it do?</p>
          <p>
            Banglet is a bracelet that is used for quicker payment, clearance
            and identification procedure, in addition it can send its location
            via the use of RFID. The Venue managers can track the information on
            dashboard.
          </p>
          <p>Who is Banglet for?</p>
          <p>
            Banglet is mainly intended for event holders and it is used/worn by
            both VIP members during even
          </p>
          <p>How does Banglet work?</p>
          <p>
            On dashboard Banglet tracks the user information and handles the
            payment process it additionally can track each braclet. Each
            bracelet carries the information of a VIP user and process the
            communication with the nodes/server with the use of RFID.
          </p>
          <p>Key Benefits of Banglet?</p>
          <p>
            The main benefit is effecient process of identification and
            transaction process between VIPs and the vendor, additionally it can
            be used for tracking each bracelet. Vendors can use dashboard to
            view and filter VIP information as they see fit.
          </p>
        </section>
        <p>
          <img src="./images/EmpathyVenue.png" width="500" height="500" />
          <img src="./images/EmpathyVIP.png" width="500" height="500" />
        </p>
      </section>
    </section>
  </body>
</html>
