<!doctype html>
<html lang="en">

  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Page Info -->
    <title>Product description</title>
    <meta name="author" content="Karen Hernandez">
    <meta name="description" content="Individual Website ECE 140B">

    <link rel="stylesheet" type="text/css" href="css/agile.css">
  </head>

  <body>

    <div class='hero'>
      <h1> Banglet  </h1>
      <h2> -  Product Page </h2>
    </div>

    <section class='padding-responsive'>
      <p> <a href="home.html" style="color:#7fa8ff; font-size: medium;">  Return to Main Page</a> </p>

      <div class='separator'> Product Description </div>

      <h3> What it does </h3>
      <p> adfada </p>

      <h3> How it works </h3>
      <p> adfada </p>

      <div class='separator'> Benefits </div>
      <p></p>
      <ul>
        <li>  </li>
        <li>  </li>
      </ul>

      <div class='separator'> Features </div>
      <p></p>
      <ul>
        <li>  </li>
        <li>  </li>
      </ul>

    </section>

  </body>
</html>