<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Page Info -->
    <title>Banglet</title>
    <meta name="author" content="Karen Hernandez" />
    <meta name="description" content="Individual Website ECE 140B" />

    <link rel="stylesheet" type="text/css" href="css/agile.css" />
  </head>

  <body>
    <section class="front-layer">
      <div class="navbar">
        <a href="./">Home</a>

        <div class="dropdown">
          <button class="dropbtn">
            Product Info
            <i class="fa fa-caret-down"></i>
          </button>
          <div class="dropdown-content">
            <a href="./kvp">KVP</a>
            <a href="./product">Product</a>
          </div>
        </div>
        <div class="dropdown">
          <button class="dropbtn">
            Features
            <i class="fa fa-caret-down"></i>
          </button>
          <div class="dropdown-content">
            <a href="features">Features</a>
            <a href="benefits">Benefits</a>
          </div>
        </div>
        <div class="dropdown">
          <button class="dropbtn">
            Financials
            <i class="fa fa-caret-down"></i>
          </button>
          <div class="dropdown-content">
            <a href="./costs">Costs</a>
            <a href="./revenue">Revenue Model</a>
          </div>
        </div>
        <div class="filler"></div>
        <a href="./notes">Notes</a>
      </div>

      <section class="padding-responsive"></section>
    </section>
  </body>
</html>
