<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Page Info -->
    <title>Banglet</title>
    <meta name="author" content="Karen Hernandez" />
    <meta name="description" content="Individual Website ECE 140B" />

    <link rel="stylesheet" type="text/css" href="css/agile.css" />
  </head>

  <body>
    <section class="front-layer">
      <div class="navbar">
        <a href="./">Home</a>
        <a href="./features">Features</a>
        <a href="./interaction">Interaction</a>
        <div class="dropdown">
          <button class="dropbtn">
            Financials
            <i class="fa fa-caret-down"></i>
          </button>
          <div class="dropdown-content">
            <a href="./costs">Costs</a>
            <a href="./revenue">Revenue Model</a>
          </div>
        </div>
        <div class="dropdown">
          <button class="dropbtn">
            Product Info
            <i class="fa fa-caret-down"></i>
          </button>
          <div class="dropdown-content">
            <a href="./kvp">KVP</a>
            <a href="./product">Product</a>
          </div>
        </div>
        <div class="filler"></div>
        <a href="./notes">Notes</a>
      </div>

      <section class="padding-responsive">
        <h3>Revenue</h3>
        <h5>Sources of Revenue Streams</h5>
        <p>
          Banglet is a service purchased by event or venue organnizers. The
          amount of sell depends on the scale of the even.The project managers
          during large events or organizer will be directly working with us to
          set up the neccessary requirements for the event. There are two
          options, one time deal which includes the service for one even, or
          subscription for multiple events.
        </p>
        <h5>Channels of Revenue</h5>
        <p>
          There is only one main channel of revenue which is direct sale with
          the organizers.
        </p>
        <h5>Expected Revenue Income</h5>
        <p>
          Annual income expected is based on MLB and NFL games during one year
          average based on past 3 years. 243 MLB games/events which offers more
          than 29 milion dollars. and 24 NFL games and events which offers
          almost 33 milion dollars in revenue for the total of 62 million
          dollars.
        </p>
      </section>
    </section>
  </body>
</html>
